.search-section {
  display: flex;
  margin-top: 50px;
  padding: 30px;
}


.search-label{
  margin-right: 10px;
  top: 15px;
  position: relative;
}

.search-section-text {
  margin-left: 100px;
}

.home-button{
  height: 35px;
}